.img{
    width: 240px;
    height: auto;
}
.p2{
    width: 120px;
    height: auto;
}
.p170{
    width: 170px;
    height: auto;
}
.p720{
    width: 720px;
    height: auto;
}
.p600{
    width: 600px;
    height: auto;
}
.p480{
    width: 480px;
    height: auto;
}
.p360{
    width: 360px;
    height: auto;
}